/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* Variables Import */

@import 'variables';

/* MY CSS RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: 'League Spartan', sans-serif;
  background: url(./images/bg-pattern-top-mobile.svg) no-repeat, url(./images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
  @include desktop {
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat top left, url(./images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
  }
  }
  
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
input, button, textarea, select {
  font: inherit;
  }

  /* LET'S CODE */

main {
  max-width: 20.4375rem;
  margin: 5.125rem auto;
  @include desktop {
  max-width: 69.375rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.intro-content {
  text-align: center;
  @include desktop {
    text-align: left;
    max-width: 27.8125rem;

  }
  h1 {
    font-size: map-get($fonts, m);
    font-weight: map-get($weights, bold);
    color: map-get($colors, primary);
    margin-bottom: 1.0625rem;
    line-height: 0.8;
    @include desktop {
      text-align: left;
      font-size: map-get($fonts, l);
      text-align: left;
    }
  }

  p {
    font-size: map-get($fonts, s);
    font-weight: map-get($weights, medium);
    color: map-get($colors, secondary);
    margin-bottom: 2.4375rem;
    line-height: 1.333;
  }
}

.intro-stars {
  margin-bottom: 3.0625rem;
  @include desktop {
  display: flex;
  flex-direction: column;
  gap: 16px;
  }
}

.secondRating {
  align-self: center;
}

.thirdRating {
  align-self: flex-end;
}

.rating {
  background-color: #F7F2F7;
  border-radius: 0.5rem;
  padding: 1rem 3.4375rem 0.9375rem 3.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @include desktop {
    flex-direction: row;
    padding: 1.25rem 2rem;
    max-width: 27.8125rem;
  }
  .stars {
    display: flex;
    gap: 8.45px;
  }
  p {
    color: map-get($colors , primary);
    font-weight: map-get($weights, bold);
    font-size: map-get($fonts, xs);
  }
  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 1rem;
    @include desktop {
      margin-bottom: initial;
    }
    }
  }

.testimonials {
  @include desktop {
    display: flex;
    gap: 30px;
    height: 16.625rem;
  }
}

.container {
  color: #FFFFFF;
  background-color: map-get($colors, primary);
  max-width: 20.4375rem;
  border-radius: 8px;
  padding: 2.5rem 2rem 2.1875rem 2rem;
  @include desktop {
    max-width: 350px;
    max-height: 234px;
  }
  p {
    line-height: 1.33;
  }
  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 1rem;
    @include desktop {
      margin-bottom: initial;
    }
  }
}

.secondReview {
  align-self: center;
}

.thirdReview {
  align-self: end;
}

.profile {
  display: flex;
  gap: 1.4375rem;
  align-items: center;
  margin-bottom: 1.4375rem;
  img {
    width: 40px;
    border-radius: 50%;
  }
  h2 {
    font-size: map-get($fonts, xs);
    font-weight: map-get($weights, bold);
  }
  span {
    color: #EE69A4;
  }
}



  